/*Remember to implement DRY css code*/

/*Categories in Navbar */
.categories {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(226, 225, 225);
    background-color: whitesmoke;
}

.categories__department-link {
    margin: 15px 5px;
    padding: 0px 10px;
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    text-decoration: underline 0.15em rgba(0, 0, 0, 0);
    transition: text-decoration-color 300ms;
    background-color: transparent;
    color: black;
}

.categories__department-link:hover {
    text-decoration-color: rgba(0, 0, 0, 1);
    cursor: pointer;
}

/* product of the day component */
.feature-product {
    width: 95%;
    max-height: 500px;
    margin: 0px auto;
    text-align: center;
    background-color: white;
}

.feature-product__span {
    display: block;
    font-size: 2rem;
    font-weight: 600;
    padding: 24px 0px 10px 0px;
}


/*category component*/
.category {
    width: 90%;
    max-height: 300px;
    margin: 30px auto;
    overflow-x: auto;
    white-space: nowrap;
    overflow-wrap: break-word;
    background-color: white;
}

#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar
{
	height: 5px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(104, 98, 98);
}


.category__span {
    display: block;
    font-size: 1.5rem;
    padding: 15px;
    font-weight: 600;
}

.category__div-products {
    display: inline-block;
}

@media screen and (min-width: 1025px) {
    .category {
        width: 90%;
        max-height: 300px;
        margin: 30px auto;
        overflow-x: hidden;
        white-space: nowrap;
        overflow-wrap: break-word;
        background-color: white;
    }

    .category:hover {
        overflow-x: auto;
    }

    #style-2::-webkit-scrollbar {
	height: 11px;
	background-color: #F5F5F5;
    }

  }
