.navbar {
    width: 100%;
    border-bottom: 1px solid rgb(199, 199, 199);
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    background-color: #030e12;
}

.search-bar {
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    position: relative;
    max-width: 460px;
    max-height: 30px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.search-bar__input {
    border: none;
    width: 95%;
    padding: 0px 10px;
    font-size: 1.4rem;
}

.search-bar__input:focus {
    outline: none;
}

.fa-search:hover {
    font-size: 1.2rem;
}

.search-bar__results-container {
    width: 90%;
    min-height: 200px;
    position: absolute;
    top: 28px;
    left: 6px;
    background-color: rgb(167, 155, 155);
    overflow-y: auto;
}

.logo-img {
    cursor: pointer;
}

.user {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.fa-user {
    margin: 0px 15px 0px 0px;
    font-size: 1.5rem;
    cursor:default;
    color: #ffffff;
    text-decoration: underline 0.15em rgba(0, 0, 0, 0);
    transition: text-decoration-color 300ms, color 300ms;
}

.fa-user:hover {
    text-decoration-color: rgb(255, 255, 255);
    color: rgb(209, 202, 202);
}

.fa-shopping-cart {
    margin: 0px 10px 0px 0px;
    font-size: 1.5rem;
    cursor: pointer;
    color: #ffffff;
    text-decoration: underline 0.15em rgba(0, 0, 0, 0);
    transition: text-decoration-color 300ms, color 300ms;
}

.fa-shopping-cart:hover {
    text-decoration-color: rgb(255, 255, 255);
    color: rgb(209, 202, 202);
}
