.main_wrapper {
    /* border: 1px solid black; */
    width: 100vw;
}

.first_wrapper {
    border-bottom: 1px solid rgb(199, 199, 199);
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    background-color: #030e12;
}

.wrapper-search {
    display: flex;
    align-items: center;
}

.search-container {
    border: 1px solid rgb(107, 105, 105);
    border-radius: 10px;
    padding: 0.4rem 0.6rem;
    font-size: 13px;
    background-color: white;
}

.search-input {
    border: none;
}

.search-input:focus {
    outline: none;
}

.fa-search:hover {
    font-size: 14px;
}

.wrapper-logo_img {
    /* border: 1px solid black; */
    cursor: pointer;
}

.wrapper-user {
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.fa-user {
    margin: 0px 10px 0px 0px;
    font-size: 20px;
    cursor: pointer;
    color: #ffffff;
}

.fa-shopping-cart {
    margin: 0px 10px 0px 0px;
    font-size: 20px;
    cursor: pointer;
    color: #ffffff;
}

.second_wrapper {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(226, 225, 225);
    background-color: whitesmoke;
}

.second_wrapper button {
    margin: 15px 5px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    text-decoration: underline 0.15em rgba(0, 0, 0, 0);
    transition: text-decoration-color 300ms;
    background-color: transparent;
}

.second_wrapper button:hover {
    text-decoration-color: rgba(0, 0, 0, 1);
    cursor: pointer;
}
